* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .space {
    height: 120px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;;
  }
  
  .wrapper h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
.hobbies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}


.hobby-box {
    width: 200px;
    height: 200px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .hobby-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }